.container {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  color: #fff;
}

.content {
  padding: 40px 10px;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.input-field {
  display: flex;
  justify-content: center;
  position: relative;
}

.input-field input {
  width: 450px;
  height: 48px;
  border-radius: 30px;
  padding: 3px 43px 3px 21px;
  font-size: 18px;
  outline: none;
}

.input-field button {
  position: absolute;
  right: 40px;
  background-color: blue;
  color: white;
  cursor: pointer;
  width: 84px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 24px;
}

.function-field {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.range {
  display: flex;
  align-items: center;
  gap: 10px;
}

.number, .character {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}